Primero probamos el conjunto de datos tic-tac-toe que contenía unicamente atributos nominales. Después probamos el conjunto german que mezcla nominales y enteros.

In [2]:
from Datos import Datos

if __name__ == "__main__":
    # Probamos el conjunto de datos tic-tac-toe
    datos = Datos("tic-tac-toe.data")

    print(datos.nominalAtributos)
    print(datos.diccionario)
    print(datos.datos)

    # Probamos el conjunto de datos geman.data
    datos2 = Datos("german.data")

    print(datos2.nominalAtributos)
    print(datos2.diccionario)
    print(datos2.datos)

[True, True, True, True, True, True, True, True, True, True]
{'TLeftSq': {'b': 0, 'o': 1, 'x': 2}, 'TMidSq': {'b': 0, 'o': 1, 'x': 2}, 'TRightSq': {'b': 0, 'o': 1, 'x': 2}, 'MLeftSq': {'b': 0, 'o': 1, 'x': 2}, 'MMidSq': {'b': 0, 'o': 1, 'x': 2}, 'MRightSq': {'b': 0, 'o': 1, 'x': 2}, 'BLeftSq': {'b': 0, 'o': 1, 'x': 2}, 'BMidSq': {'b': 0, 'o': 1, 'x': 2}, 'BRightSq': {'b': 0, 'o': 1, 'x': 2}, 'Class': {'negative': 0, 'positive': 1}}
     TLeftSq  TMidSq  TRightSq  MLeftSq  ...  BLeftSq  BMidSq  BRightSq  Class
0          2       2         2        2  ...        2       1         1      1
1          2       2         2        2  ...        1       2         1      1
2          2       2         2        2  ...        1       1         2      1
3          2       2         2        2  ...        1       0         0      1
4          2       2         2        2  ...        0       1         0      1
..       ...     ...       ...      ...  ...      ...     ...       ...    ...
953        1       2         2        2  ...        1       2         2      0
954        1       2         1        2  ...        2       1         2      0
955        1       2         1        2  ...        2       1         2      0
956        1       2         1        1  ...        2       1         2      0
957        1       1         2        2  ...        1       2         2      0

[958 rows x 10 columns]
[True, False, True, True, False, True, True, False, True, True, False, True, False, True, True, False, True, False, True, True, False]
{'A1': {'A11': 0, 'A12': 1, 'A13': 2, 'A14': 3}, 'A2': {}, 'A3': {'A30': 0, 'A31': 1, 'A32': 2, 'A33': 3, 'A34': 4}, 'A4': {'A40': 0, 'A41': 1, 'A410': 2, 'A42': 3, 'A43': 4, 'A44': 5, 'A45': 6, 'A46': 7, 'A48': 8, 'A49': 9}, 'A5': {}, 'A6': {'A61': 0, 'A62': 1, 'A63': 2, 'A64': 3, 'A65': 4}, 'A7': {'A71': 0, 'A72': 1, 'A73': 2, 'A74': 3, 'A75': 4}, 'A8': {}, 'A9': {'A91': 0, 'A92': 1, 'A93': 2, 'A94': 3}, 'A10': {'A101': 0, 'A102': 1, 'A103': 2}, 'A11': {}, 'A12': {'A121': 0, 'A122': 1, 'A123': 2, 'A124': 3}, 'A13': {}, 'A14': {'A141': 0, 'A142': 1, 'A143': 2}, 'A15': {'A151': 0, 'A152': 1, 'A153': 2}, 'A16': {}, 'A17': {'A171': 0, 'A172': 1, 'A173': 2, 'A174': 3}, 'A18': {}, 'A19': {'A191': 0, 'A192': 1}, 'A20': {'A201': 0, 'A202': 1}, 'Class': {}}
     A1  A2  A3  A4    A5  A6  A7  A8  ...  A14  A15  A16  A17  A18  A19  A20  Class
0     0   6   4   4  1169   4   4   4  ...    2    1    2    2    1    1    0      1
1     1  48   2   4  5951   0   2   2  ...    2    1    1    2    1    0    0      2
2     3  12   4   7  2096   0   3   2  ...    2    1    1    1    2    0    0      1
3     0  42   2   3  7882   0   3   2  ...    2    2    1    2    2    0    0      1
4     0  24   3   0  4870   0   2   3  ...    2    2    2    2    2    0    0      2
..   ..  ..  ..  ..   ...  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...  ...    ...
995   3  12   2   3  1736   0   3   3  ...    2    1    1    1    1    0    0      1
996   0  30   2   1  3857   0   2   4  ...    2    1    1    3    1    1    0      1
997   3  12   2   4   804   0   4   4  ...    2    1    1    2    1    0    0      1
998   0  45   2   4  1845   0   2   4  ...    2    2    1    2    1    1    0      2
999   1  45   4   1  4576   1   0   3  ...    2    1    1    2    1    0    0      1

[1000 rows x 21 columns]

Podemos comprobar tras la ejecución, que en el caso de los atributos nominales se han puesto los valores correctamente en orden lexicografico en el diccionario: *{'b': 0, 'o': 1, 'x': 2}* 
En el caso de los que no son nominales, el diccionario está vacio y en la matriz de datos observamos sus valores originales.